.content__element {
	display: block;
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 5px;
	padding-left: 5px;
}

.conent__menu_item {
	display: block;
	margin-bottom: 5px;
	font-size: 24px;
}